# Konfigurasi Server
PORT=3000

# Konfigurasi Database Supabase Kustom (Opsional)
# Jika SUPABASE_URL & SUPABASE_KEY diisi, aplikasi akan otomatis membaca & menyimpan ke Supabase.
# Jika dibiarkan kosong, aplikasi akan otomatis menggunakan database file lokal (data/movies.json).
SUPABASE_URL=
SUPABASE_KEY=
